@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-SemiBold.woff2") format("woff2"), url("../fonts/Overpass-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

html {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 959px;
  margin: 0 auto; }

.hidden {
  display: none; }

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 21px 20px 9px 20px; }

.nav__item {
  list-style-type: none; }

.nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.7; }

.promo {
  min-height: 825px;
  background: url("/img/Bike@1x.jpg") center center/cover no-repeat;
  background-color: #131314;
  padding-top: 62px; }

.promo__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 825px; }

.logo__hamburger {
  display: none; }

.logo__header {
  margin: 0;
  padding-top: 45px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #ffffff; }

.logo__subheader {
  padding-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8; }

.form__info {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #ffffff; }

.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px; }
  .form__main input {
    height: 48px;
    width: 327px;
    border: 1px solid #c9ccd4;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c; }

.form__btn {
  height: 51px;
  padding: 0 43px;
  background: #0ad9c6;
  border: 1px solid #0ad9c6;
  border-radius: 6px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000; }

.facts {
  min-height: 503px;
  padding-top: 150px;
  text-align: center; }

.facts__header {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px; }

.facts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 117px 0 117px;
  font-size: 22px;
  line-height: 34px; }

.facts__item {
  padding: 0 20px; }

.facts__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #0ad9c6; }

.facts__descr {
  padding-top: 14px; }

.bicycles {
  min-height: 1038px;
  background-color: #f6f7f9; }

.bicycles__header {
  text-align: center;
  padding-top: 150px;
  margin: 0; }

.bicycles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 35px; }
  .bicycles__item--one {
    position: relative; }
    .bicycles__item--one::before {
      content: "";
      display: block;
      position: absolute;
      top: 160px;
      left: -60px;
      width: 180px;
      height: 180px;
      background: url("/img/figure1.png") center center/cover no-repeat; }
  .bicycles__item--two {
    position: relative;
    margin: 0 50px; }
    .bicycles__item--two::before {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      left: -14px;
      width: 37px;
      height: 37px;
      background: url("/img/figure2.png") center center/cover no-repeat;
      z-index: 1; }
    .bicycles__item--two::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      right: -17px;
      width: 37px;
      height: 37px;
      background: url("/img/figure3.png") center center/cover no-repeat;
      z-index: 1; }
  .bicycles__item--three {
    position: relative; }
    .bicycles__item--three::after {
      content: "";
      display: block;
      position: absolute;
      top: -34px;
      right: -36px;
      width: 95px;
      height: 95px;
      background: url("/img/figure4.png") center center/cover no-repeat;
      z-index: 1; }

.bicycles__img {
  position: relative; }
  .bicycles__img--two {
    top: 36px; }

.bicycles__subheader {
  padding-top: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center; }
  .bicycles__subheader--two {
    position: relative;
    top: 36px; }

.footer {
  min-height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__header {
  padding-top: 249px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px; }

.footer__subheader {
  margin: 42px 0;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7); }

.footer__map {
  text-align: center; }

.footer__contacts {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__link {
  padding-left: 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5); }

.footer__email {
  position: relative;
  padding-right: 120px; }
  .footer__email::before {
    content: "";
    display: block;
    position: absolute;
    left: -21px;
    top: 7px;
    width: 30px;
    height: 19px;
    background: url("/img/icon-mail.svg") center center/cover no-repeat; }

.footer__phone {
  position: relative; }
  .footer__phone::before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 4px;
    width: 21px;
    height: 21px;
    background: url("/img/icon-phone.svg") center center/cover no-repeat; }
