@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-SemiBold.woff2") format("woff2"), url("../fonts/Overpass-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

html {
  font-family: "Open Sans", "Arial", sans-serif; }

.container {
  max-width: 737px;
  margin: 0 auto; }

button {
  cursor: pointer; }

.visually-hidden {
  display: none; }

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 9px 17px 4px; }

.nav__item {
  list-style-type: none;
  padding: 0 10px; }

.nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.7; }
  .nav__link:hover {
    color: #0ad9c6; }

.promo {
  background: url("../img/bike@1x.jpg") top center/contain no-repeat;
  background-color: #131314;
  padding-top: 62px; }

.promo__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 619px; }

.logo {
  max-width: 48%;
  padding-left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.logo__hamburger {
  display: none; }

.logo h2 {
  margin: 0;
  padding-top: 13px;
  font-weight: bold;
  font-size: 38px;
  line-height: 54px;
  color: #ffffff; }

.logo__subheader {
  padding-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8; }

.form__info {
  max-width: 262px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #ffffff; }

.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 13px; }
  .form__main input {
    height: 42px;
    width: 210px;
    border: 1px solid #c9ccd4;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c; }
    .form__main input:hover {
      background-color: #e7ebd3; }
    .form__main input:focus {
      -webkit-box-shadow: 0 0 0 3px #55752d;
              box-shadow: 0 0 0 3px #55752d; }
  .form__main .error {
    font-size: 13px;
    color: red;
    text-align: center;
    margin-bottom: 10px; }

.form__btn {
  height: 51px;
  background: #0ad9c6;
  border: 1px solid #0ad9c6;
  border-radius: 6px;
  font-family: "Overpass", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000; }
  .form__btn:hover {
    background-color: #0cf5de; }

.facts {
  padding: 130px 70px;
  text-align: center; }

.facts__header {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 19px; }

.facts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 36px;
  font-size: 20px;
  line-height: 30px; }

.facts__item {
  padding: 0 20px;
  max-width: 310px; }

.facts__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #0ad9c6; }

.facts__descr {
  padding-top: 14px;
  font-size: 18px; }

.bicycles {
  padding: 120px 50px;
  background-color: #f6f7f9; }

.bicycles__header {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: 600; }

.bicycles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 43px;
  margin-bottom: 21px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bicycles__item {
      overflow: hidden; } }
  .bicycles__item--one {
    position: relative;
    margin: 0 25px;
    display: inline-block; }
    .bicycles__item--one::before {
      content: "";
      display: block;
      position: absolute;
      top: 141px;
      left: -53px;
      width: 135px;
      height: 135px;
      background: url("/img/figure1.png") center center/cover no-repeat; }
  .bicycles__item--two {
    position: relative;
    margin: 0 25px;
    display: inline-block; }
    .bicycles__item--two::before {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      left: -14px;
      width: 37px;
      height: 37px;
      background: url("/img/figure2.png") center center/cover no-repeat;
      z-index: 1; }
    .bicycles__item--two::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      right: -17px;
      width: 37px;
      height: 37px;
      background: url("/img/figure3.png") center center/cover no-repeat;
      z-index: 1; }
  .bicycles__item--three {
    position: relative;
    margin: 0 25px;
    display: inline-block; }
    .bicycles__item--three::after {
      content: "";
      display: block;
      position: absolute;
      top: -29px;
      right: -29px;
      width: 80px;
      height: 80px;
      background: url("/img/figure4.png") center center/cover no-repeat;
      z-index: 1; }

.bicycles__img {
  position: relative; }
  .bicycles__img--two {
    top: 36px; }

.bicycles__subheader {
  padding-top: 19px;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  text-align: center; }
  .bicycles__subheader--two {
    position: relative;
    top: 23px; }

.video {
  min-height: 590px;
  background-color: #131314; }

.video__header {
  margin: 0;
  padding-top: 101px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff; }

.video__subheader {
  padding-top: 16px;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7; }

.video__img {
  position: relative; }

.video__player {
  position: absolute;
  padding-top: 50px; }

.video__btn {
  position: absolute;
  left: 50%;
  top: 237px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 16px;
  border-radius: 100%;
  background-color: #0ad9c6;
  cursor: pointer; }
  .video__btn:active {
    background-color: #00bfc6; }

.video__play {
  width: 16px;
  height: 16px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__header {
  padding-top: 206px;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px; }

.footer__subheader {
  max-width: 420px;
  margin: 30px 0;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7); }

.footer__map {
  text-align: center; }

.footer__contacts {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__link {
  padding-left: 15px;
  text-decoration: none;
  font-size: 13px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5); }

.footer__email {
  position: relative;
  padding-right: 120px; }
  .footer__email::before {
    content: "";
    display: block;
    position: absolute;
    left: -21px;
    top: 7px;
    width: 30px;
    height: 19px;
    background: url("/img/sprite.svg#icon-mail") center center/cover no-repeat; }

.footer__phone {
  position: relative; }
  .footer__phone::before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 4px;
    width: 21px;
    height: 21px;
    background: url("/img/icon-phone.svg") center center/cover no-repeat; }

@media (max-width: 1023px) {
  .container {
    max-width: 100%; }
  .nav {
    position: fixed;
    z-index: 5;
    overflow-y: auto;
    min-height: 100%; }
    .nav--nojs {
      position: relative;
      border: none; }
  .nav__list {
    display: none; }
    .nav__list--nojs {
      display: block;
      position: relative;
      background-color: #131314; }
    .nav__list--adaptive {
      display: block;
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 0;
      right: 0;
      width: 320px;
      padding: 70px 0;
      background-color: #ffffff; }
  .nav__item--nojs {
    text-align: center; }
  .nav__item--adaptive {
    position: relative;
    padding: 16px;
    margin: 30px 0;
    background-color: #f6f6f6; }
    .nav__item--adaptive::after {
      content: "";
      display: block;
      position: absolute;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 12px;
      height: 14px;
      background: url("/img/arr.svg") center center/cover no-repeat; }
  .nav__link--adaptive {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #48494d;
    opacity: inherit; }
  .promo {
    background-image: none;
    background-color: #ffffff;
    padding-top: 0; }
  .promo__descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial; }
  .logo {
    max-width: 100%;
    min-height: 340px;
    background: url("../img/bike@1x.jpg") center center/cover no-repeat;
    background-color: #131314; }
  .logo h2 {
    padding-top: 84px;
    font-size: 30px;
    line-height: 42px;
    text-align: center; }
  .logo__subheader {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
    text-align: center; }
  .logo__img {
    margin: auto;
    padding-top: 15px; }
  .logo__hamburger--adaptive {
    display: block;
    z-index: 5;
    position: fixed;
    right: 10px;
    top: 0;
    width: 26px;
    height: 12px;
    padding: 18px 13px;
    background-color: #0ad9c6; }
  .logo__hamburger span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #000000;
    margin-bottom: 5px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
  .logo__hamburger--open {
    background-color: #ffffff; }
    .logo__hamburger--open span {
      margin-bottom: -1px;
      background-color: rgba(20, 21, 23, 0.2); }
      .logo__hamburger--open span:nth-child(1) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .logo__hamburger--open span:nth-child(2) {
        display: none; }
      .logo__hamburger--open span:nth-child(3) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
  .form {
    padding: 70px 0;
    margin: 0 auto; }
  .form__info {
    margin: 0 auto;
    font-size: 18px;
    color: #000000; }
  .form__main {
    padding-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form__main input {
      width: 280px;
      height: 48px;
      padding: 0 20px; }
  .form__btn {
    width: 321px;
    height: 51px; }
  .facts {
    padding: 0 106px 50px 106px; }
  .facts__header {
    font-size: 24px;
    line-height: 41px; }
  .facts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 10px; }
  .facts__item {
    max-width: 263px;
    padding: 21px 0; }
  .bicycles {
    padding: 50px; }
  .bicycles__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 80px; }
    .bicycles__item--one {
      padding-bottom: 20px; }
      .bicycles__item--one::before {
        width: 127px;
        height: 127px;
        top: inherit;
        bottom: 60px;
        left: -35px; }
    .bicycles__item--two {
      margin: 0;
      padding-bottom: 20px; }
      .bicycles__item--two::before, .bicycles__item--two::after {
        display: none; }
    .bicycles__item--three::after {
      width: 68px;
      height: 68px;
      top: -20px;
      right: -23px; }
  .bicycles__img {
    width: 250px;
    height: 345px;
    border-radius: 5%; }
    .bicycles__img--two {
      top: 0; }
  .bicycles__subheader--two {
    top: 0; }
  .video {
    min-height: 413px; }
  .video__header {
    padding-top: 70px; }
  .video__player {
    width: 503px;
    height: 282px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .video__btn {
    top: 155px; }
  .footer {
    padding: 50px 35px;
    min-height: 0; }
  .footer__header {
    padding-top: 110px; }
  .footer__subheader {
    max-width: 100%; }
  .footer__map {
    width: 698px;
    height: 545px; } }

@media (max-width: 767px) {
  .logo {
    min-height: 323px; }
  .logo h2 {
    padding-top: 37px;
    font-size: 24px;
    line-height: 34px; }
  .logo__subheader {
    font-size: 16px;
    line-height: 25px;
    max-width: 435px;
    margin: 0 auto;
    padding: 20px 25px; }
  .form {
    padding: 52px 0; }
  .form__info {
    font-size: 15px; }
  .form__main {
    padding-top: 0; }
    .form__main input {
      width: 198px;
      height: 37px;
      font-size: 12px; }
  .form__btn {
    width: 250px;
    height: 44px;
    font-weight: 500;
    font-size: 13px; }
  .facts {
    padding: 35px 15px;
    padding-top: 0; }
  .facts__header {
    font-size: 20px; }
  .facts__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px; }
  .facts__item {
    padding: 17px 0; }
  .facts__number {
    font-size: 22px;
    line-height: 23px; }
  .facts__descr {
    font-size: 16px;
    line-height: 27px; }
  .bicycles {
    padding: 60px 25px 20px; }
  .bicycles__header {
    font-size: 20px;
    font-weight: 600; }
  .bicycles__item {
    padding-top: 13px;
    padding-bottom: 0; }
    .bicycles__item--one {
      padding: 20px 0; }
      .bicycles__item--one::before {
        bottom: 40px;
        left: -27px;
        width: 119px;
        height: 119px; }
    .bicycles__item--two {
      padding: 20px 0; }
    .bicycles__item--three {
      padding: 20px 0;
      top: inherit; }
      .bicycles__item--three::after {
        top: 2px;
        right: -18px; }
  .bicycles__border {
    border-radius: 5%;
    overflow: hidden;
    height: 250px;
    max-width: 230px; }
  .bicycles__img {
    height: auto;
    width: 100%;
    margin: -50px 0 0 0; }
    .bicycles__img--three {
      margin: -93px 0 0; }
  .bicycles__subheader {
    padding-top: 14px;
    line-height: 29px; }
  .video {
    min-height: 320px; }
  .video__header {
    font-size: 24px; }
  .video__subheader {
    padding: 20px 16px; }
  .video__player {
    width: 249px;
    height: 128px; }
  .video__btn {
    top: 100px;
    padding: 17px; }
  .footer {
    padding: 35px 0; }
  .footer__header {
    padding-top: 60px;
    font-size: 15px; }
  .footer__subheader {
    margin: 25px 50px 20px;
    font-size: 14px;
    line-height: 23px; }
  .footer__map {
    width: 288px;
    height: 209px; }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-top: 15px; }
  .footer__email {
    padding-right: 0; }
  .footer__phone {
    padding-top: 5px;
    margin: 0 auto; }
    .footer__phone::before {
      margin-top: 5px; } }
