@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-SemiBold.woff2") format("woff2"), url("../fonts/Overpass-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

html {
  font-family: "Open Sans", "Arial", sans-serif; }

.container {
  max-width: 959px;
  margin: 0 auto; }

button {
  cursor: pointer; }

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 21px 20px 9px 20px; }

.nav__item {
  list-style-type: none; }

.nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.7; }
  .nav__link:hover {
    color: #0ad9c6; }

.promo {
  min-height: 825px;
  background: url("/img/Bike@1x.jpg") center center/cover no-repeat;
  background-color: #131314;
  padding-top: 62px; }

.promo__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 825px; }

.logo {
  width: 360px; }

.logo__hamburger {
  display: none; }

.logo__header {
  margin: 0;
  padding-top: 45px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #ffffff; }

.logo__subheader {
  max-width: 381px;
  padding-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8; }

.form__info {
  max-width: 325px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #ffffff; }

.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px; }
  .form__main input {
    height: 48px;
    width: 270px;
    border: 1px solid #c9ccd4;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c; }

.form__btn {
  height: 51px;
  padding: 0 43px;
  background: #0ad9c6;
  border: 1px solid #0ad9c6;
  border-radius: 6px;
  font-family: "Overpass", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000; }
  .form__btn:hover {
    background-color: #0cf5de; }

.facts {
  padding: 150px 50px;
  text-align: center; }

.facts__header {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px; }

.facts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  font-size: 22px;
  line-height: 34px; }

.facts__item {
  padding: 0 20px;
  max-width: 310px; }

.facts__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #0ad9c6; }

.facts__descr {
  padding-top: 14px; }

.bicycles {
  padding: 150px 50px;
  background-color: #f6f7f9; }

.bicycles__header {
  text-align: center;
  margin: 0; }

.bicycles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 35px; }
  .bicycles__item--one {
    position: relative; }
    .bicycles__item--one::before {
      content: "";
      display: block;
      position: absolute;
      top: 160px;
      left: -60px;
      width: 180px;
      height: 180px;
      background: url("/img/figure1.png") center center/cover no-repeat; }
  .bicycles__item--two {
    position: relative;
    margin: 0 18px; }
    .bicycles__item--two::before {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      left: -14px;
      width: 37px;
      height: 37px;
      background: url("/img/figure2.png") center center/cover no-repeat;
      z-index: 1; }
    .bicycles__item--two::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      right: -17px;
      width: 37px;
      height: 37px;
      background: url("/img/figure3.png") center center/cover no-repeat;
      z-index: 1; }
  .bicycles__item--three {
    position: relative; }
    .bicycles__item--three::after {
      content: "";
      display: block;
      position: absolute;
      top: -34px;
      right: -23px;
      width: 95px;
      height: 95px;
      background: url("/img/figure4.png") center center/cover no-repeat;
      z-index: 1; }

.bicycles__img {
  position: relative; }
  .bicycles__img--two {
    top: 36px; }

.bicycles__subheader {
  padding-top: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center; }
  .bicycles__subheader--two {
    position: relative;
    top: 36px; }

.video {
  min-height: 706px;
  background-color: #131314; }

.video__header {
  margin: 0;
  padding-top: 119px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff; }

.video__subheader {
  padding-top: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7; }

.video__img {
  position: relative; }

.video__player {
  position: absolute;
  padding-top: 30px; }

.video__btn {
  position: absolute;
  left: 50%;
  top: 290px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 23px;
  border-radius: 100%;
  background-color: #0ad9c6;
  cursor: pointer; }
  .video__btn:active {
    background-color: #00bfc6; }

.footer {
  min-height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__header {
  padding-top: 249px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px; }

.footer__subheader {
  max-width: 555px;
  margin: 42px 0;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7); }

.footer__map {
  text-align: center; }

.footer__contacts {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__link {
  padding-left: 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5); }

.footer__email {
  position: relative;
  padding-right: 120px; }
  .footer__email::before {
    content: "";
    display: block;
    position: absolute;
    left: -21px;
    top: 7px;
    width: 30px;
    height: 19px;
    background: url("/img/icon-mail.svg") center center/cover no-repeat; }

.footer__phone {
  position: relative; }
  .footer__phone::before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 4px;
    width: 21px;
    height: 21px;
    background: url("/img/icon-phone.svg") center center/cover no-repeat; }

@media (max-width: 1023px) {
  .container {
    max-width: 100%; }
  .nav {
    display: none; }
  .promo {
    background-image: none;
    background-color: #ffffff;
    padding-top: 0; }
  .promo__descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial; }
  .logo {
    width: 100%;
    min-height: 340px;
    background: url("/img/Bike@1x.jpg") center center/cover no-repeat;
    background-color: #131314; }
  .logo__header {
    padding-top: 84px;
    font-size: 30px;
    line-height: 42px;
    text-align: center; }
  .logo__subheader {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
    text-align: center; }
  .logo__img {
    padding-top: 20px;
    padding-left: 20px; }
  .logo__hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    height: 12px;
    padding: 18px 13px;
    background-color: #0ad9c6; }
    .logo__hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000000;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .logo__hamburger--active span {
      margin-bottom: -2px; }
      .logo__hamburger--active span:nth-child(1) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .logo__hamburger--active span:nth-child(2) {
        display: none; }
      .logo__hamburger--active span:nth-child(3) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
  .form {
    padding: 70px 0;
    margin: 0 auto; }
  .form__info {
    font-size: 18px;
    color: #000000; }
  .form__main {
    padding-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form__main input {
      width: 280px;
      height: 48px;
      padding: 0 20px; }
  .form__btn {
    width: 321px;
    height: 51px; }
  .facts {
    padding: 0 106px 50px 106px; }
  .facts__header {
    font-size: 24px;
    line-height: 41px; }
  .facts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 10px; }
  .facts__item {
    max-width: 263px;
    padding: 21px 0; }
  .bicycles {
    padding: 50px; }
  .bicycles__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 80px; }
    .bicycles__item--one {
      padding-bottom: 20px; }
      .bicycles__item--one::before {
        width: 127px;
        height: 127px;
        top: inherit;
        bottom: 60px;
        left: -35px; }
    .bicycles__item--two {
      margin: 0;
      padding-bottom: 20px; }
      .bicycles__item--two::before, .bicycles__item--two::after {
        display: none; }
    .bicycles__item--three::after {
      width: 68px;
      height: 68px;
      top: -20px;
      right: -23px; }
  .bicycles__img {
    width: 250px;
    height: 345px;
    border-radius: 5%; }
    .bicycles__img--two {
      top: 0; }
  .bicycles__subheader--two {
    top: 0; }
  .video {
    min-height: 413px; }
  .video__header {
    padding-top: 70px; }
  .video__player {
    width: 503px;
    height: 282px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .video__btn {
    top: 155px; }
  .footer {
    padding: 50px 35px;
    min-height: 0; }
  .footer__header {
    padding-top: 110px; }
  .footer__subheader {
    max-width: 100%; }
  .footer__map {
    width: 698px;
    height: 545px; } }

@media (max-width: 767px) {
  .logo {
    min-height: 390px; }
  .logo__subheader {
    max-width: 435px;
    margin: 0 auto;
    padding: 20px 25px; }
  .facts {
    padding: 35px 15px;
    padding-top: 0; }
  .facts__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .facts__item {
    padding: 30px 0; }
  .bicycles {
    padding: 50px 25px; }
  .bicycles__header {
    font-size: 24px;
    font-weight: 600; }
  .bicycles__item {
    padding-bottom: 0; }
    .bicycles__item--one {
      padding: 20px 0; }
      .bicycles__item--one::before {
        bottom: 58px;
        left: -27px; }
    .bicycles__item--two {
      padding: 20px 0; }
    .bicycles__item--three {
      padding: 20px 0;
      top: inherit; }
      .bicycles__item--three::after {
        top: 2px;
        right: -18px; }
  .video__header {
    font-size: 24px; }
  .video__subheader {
    padding: 20px 16px; }
  .video__player {
    width: 288px;
    height: 162px; }
  .video__btn {
    top: 100px;
    padding: 21px; }
  .footer {
    padding: 35px 0; }
  .footer__header {
    padding-top: 60px;
    font-size: 18px; }
  .footer__subheader {
    margin: 25px 16px 20px 16px; }
  .footer__map {
    width: 320px;
    height: 250px; }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-top: 30px; }
  .footer__email {
    padding-right: 0; }
  .footer__phone {
    padding-top: 20px;
    margin: 0 auto; }
    .footer__phone::before {
      margin-top: 20px; } }
